.home-main-container{
    display: flex;
    /*position: relative;*/
}
.home-content-box{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-content-box-left-bar{
    top: 5%;
    left: 0;
    width: 15%;
    /*bottom: 0;*/
    height: 100%;
    position: absolute;
    background-color: rgba(31,28,28,1);
    z-index: 100;
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,300,0.1);
    flex-direction: column;
    align-items: center;

    .item-container{


        position: absolute;
        /*height: 100%;*/
        width: 70%;
        display: grid;
        grid-template-rows: repeat(3,1fr);left: 15%;
        /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
        .tile-container{
            /*height: 50px;*/


            display: flex;
            flex-direction: column;
            align-items: center;
            /*border-bottom: 1px solid #ccc;*/
            border-bottom: 1px solid #ccc;

            .tile-title{
                margin-top: 10px;
            }
            .tile-container{
                /*width: 70%;*/
                /*left: 15%;*/
                /*margin-top: 40px;*/
            }
            /*background: #cccccc;*/
        }
    }

    overflow-y: auto;
}
.home-content-box-top-bar{
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    position: absolute;
    background-color: rgba(29,29,31,1);
    display: grid;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    grid-template-columns: repeat(8, 1fr);
    .item-container-home{
        right: 0;
        top: 0;
        grid-column: span 1;
        /*background-color: blue;*/
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .item-container-personal{

        right: 0;
        top: 0;
        grid-column: 8;
        background-color: blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        .title{

        }



    }
    .item-container-document{
        right: 0;
        top: 0;
        grid-column: 7;
        grid-row: 1;
        /*background-color: blue;*/

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .item-container-widget{
        right: 0;
        top: 0;
        grid-column: 6;
        /*background-color: blue;*/
        grid-row: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.home-content-box-center{
    left: 20%;
    top: 10%;
    width: 50%;
    height: 200%;
    bottom: 0;
    position: absolute;

    border-radius: 20px;
    /*border: 1px solid #ccc;*/

    /*background-color: #ccc;*/
    .tile-content{
        margin-top: 10px;
    }
    .ile-news-title{
        margin-top: 10px;
        font-size: 18px;
    }
    overflow-y: auto; /* 允许主区域单独滚动 */
}
.home-content-box-right-bar{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-template-columns: 1fr;
    width: 20%;
    height: 50%;
    right: 0;
    top: 20%;
    border: 1px solid rgba(31,28,28,1);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /*background-color: #ccc;*/

    background-color: rgba(31,28,28,1);
}
.markdown-content :deep() {
    h1, h2, h3 {
        color: whitesmoke;
        font-weight: 600;
        line-height: 1.25;
        margin: 16px 0;
    }

    h2 {
        font-size: 1.5em;
        border-bottom: 1px solid #eaecef;
        padding-bottom: 0.3em;
    }

    ul {
        padding-left: 2em;
        list-style-type: disc;

        li {
            margin: 4px 0;
            line-height: 1.8;
        }
    }
}
